<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>tomcatException</servlet-name>
    <servlet-class>com.zxl.test.web.TomcatException</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tomcatException</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  

</web-app>
        